<div class="prison">
<h1>About UU</h1>
<p>UU is a privatepaste service. You can paste any code or upload images and UU will generate a private url with a client-side only password that is never seen by the server.</p>
<p>No javascript tracker, almost no log on the server, the service runs on a server that is not subject to any DMCA law (at least in the American sense).</p>
<p>Also, the pastes can be setup to expire after a given amount of time.</p>

</div>