<? include head ?>

<div class="prison">
<h1>About UU</h1>
<p>UU is a privatepaste service.</p>
<p>You can paste any code or upload images and UU will generate a private url with a client-side only password that is never seen by the server.</p>
<p>The paste is encrypted on the server and cannot be read without the key you have in the url</p>
<p>No javascript tracker, almost no log on the server, the service runs on a server that is not subject to any DMCA law (at least in the American sense).</p>
<p>The paste expires after a given amount of time.</p>


</div>

<? include footer ?>
