</div>
<div class="legal">UU, le site qui vous a à la colle. UU was made by <a href="//twitter.com/octplane">Octplane</a> with love. Use with caution. Report issues. Have fun.</div>
<script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/js/uu.js"></script>
<script type="text/javascript" src="/js/sjcl.js"></script>
<script type="text/javascript" src="/js/dropzone.min.js"></script>
<script type="text/javascript" src="/hi/highlight.pack.js"></script>
</body>
</html>
