<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <title>Copie Privee</title>
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="/c/css/app.css" />
  <link rel="stylesheet" type="text/css" href="/hi/styles/solarized_light.css" />
  <?- extraHead ?>
  </head>
<body>
  <? include navbar ?>
  <div class="container">
