<? include head ?>
<? if (!encrypted_content) { ?>
    <span id='gl-text'>I need entropy... shake your mouse !</span>
    <div class="prison">
      <textarea id='clear_code' placeholder="Paste your code or text in this area..."></textarea>
    </div>
    <input id='attachments' type='hidden' />
  </div>
</form>
<form action='/file-upload' class='dropzone' id='uploader'>
  <div class='fallback'>
    <input multiple='multiple' name='file' type='file' />
  </div>
</form>
<? } else { ?>
  <div class='paste-container'>
    <pre>
      <code id='code'></code>
      <code id='encrypted'><?= encrypted_content ?></code>
    </pre>
    <textarea id='spare'></textarea>
    <div class="swhi">
    Switch highlight to
    <div id="placeholder">(if you don't see anything here, you should enable javascript on your browser :D)</div>
    </div>
    <div id="attachments"><?= attachments ?></div>
    <div id="companions"></div>
  </div>
<? } ?>
<? include footer ?>
