<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	    <div class='top-container'>
	      <ul class='nav'>
	        <li>
	          <a href='/about'>About</a>
	        </li>
	        <li>
	          <a href='/'>New Paste</a>
	        </li>
	      </ul>
	    </div>
	</div>
</div>


